@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact Details";
}
<h1>@ViewData["Title"]</h1>

<div class="text-left">
   <table class="table table-responsive my-5">

    <tbody>
        <tr>
            <td>Name:</td>
            <td>Tikaram Ac</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>tikaramac19@gmail.com</td>
        </tr>
        <tr>
            <td>phone:</td>
            <td>9822508086</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>Hattiban, Lalitpur</td>
        </tr>
    </tbody>

   </table>
</div>
