@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="display:flex ; flex-direction:column; align-items: center; justify-content: center;">
    <h1 class="display-4" style="font-size: 60px; color:crimson; letter-spacing: 1rem; margin-buttom: 2rem;">Hello There
        !</h1>
    <h3 style="border:1px solid #333 ; padding: 1.5rem; border-radius: 1rem; color: #333;">
        Welcome ! To my portfolio Site.
    </h3>
    <h2 style="margin-top:1rem ; color: gray;"> - Tikaram Ac</h2>
</div>
