@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<h3 style="border:1px solid #333 ; padding: 1.5rem; border-radius: 1rem; color: black;">
    Tikaram Acharya is a young talent from Surkhet. He is currently pursuing his bachelor’s degree in computer
    science and information technology from Academia International College. He loves to describe himself as a
    Frontend developer, and have a great passion for it. He loves to have fun and has a good sense of humor and
    likes to roast pretty much, and also has a great love, dedication for sports. This guy wants to explore new
    things and learn as much as possible.
</h3>
